<%- include('head'); %>

<%- include('nav'); %>

    <h1>top.ejsです</h1>

    <% userTable.forEach((user) => { %>
        <div>
          <p><%= user.id %></p>
          <p><%= user.name %></p>
          <form action="/delete/<%= user.id %>" method="post">
            <input class="testBtn" type="submit" value="削除">
          </form>
          <a href="/editing/<%= user.id %>" class="abtn">編集</a>
        </div>
    <% }) %>

</body>
</html>